<div class="card">
  <div class="card-header">
    <h4 class="mb-0 font-weight-normal" [translate]="'NewMessage'"></h4>
  </div>
  <div class="card-body pt-0 mb-0">
    <form #formMessage="ngForm" novalidate class="formio-form">
      <div ref="component" class="form-group has-feedback formio-component formio-component-textfield">
        <label class="col-form-label" [translate]="'Subject'"></label>
        <div>
          <input [(ngModel)]="model.subject" id="subject" spellcheck="true" autocomplete="off" class="form-control" type="text" name="message-subject" />
        </div>
      </div>
      <div class="form-group has-feedback formio-component formio-component-textarea">
        <label for="body" class="col-form-label" [translate]="'WriteMessage'"></label>
        <div>
          <textarea [(ngModel)]="model.body" [required]="true" id="body" rows="5" spellcheck="true" class="form-control"
            type="text" name="message-body"></textarea>
        </div>
      </div>
      <div class="form-group formio-component formio-component-button d-inline-block text-lowercase form-group">
        <button [disabled]="formMessage.invalid" class="btn btn-primary btn-md d-inline-block text-lowercase"
          type="button" [translate]="'Send'" (click)="submit.emit(model)">
        </button>
      </div>
      <div
        class="ml-2 form-group has-feedback formio-component formio-component-button d-inline-block text-lowercase form-group">
        <button class="btn btn-secondary btn-md d-inline-block text-lowercase" type="button" (click)="cancel.emit(model)"
          [translate]="'Cancel'">
        </button>
      </div>
    </form>
  </div>
</div>
<!--end: new message-->
